@import "./../../scss/mixin.scss";
@import "./../../scss/variables.scss";

.case-contenant{
	@include for-phone-only {    
		flex-direction: column;
		text-align: center;
	 }
	
}

.contenant-reassurance{
	justify-content: space-around;
	@include for-phone-only {  
	flex-direction: row;
	overflow-x: scroll;
	scroll-behavior: smooth;
	justify-content: left;
	}
}

.reassuranceCase{
    width: 25vh;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 10vh;
	@include for-phone-only {  
		font-size: 15px;
		flex: 0 0 20vh;
	}
}

.abonnementCase{
    width: 33vh;
    margin-top: 5%;
    margin-bottom: 5%;
	@include for-phone-only {  
		width: 90%;
	}
}

.card-body{
	background-color: $dark-color-d;
    line-height: 10vh;    
    p{
        line-height: 1.5;
		@include for-phone-only {  
			font-size: 15px;
		}
    }
}

.white-content{
	.card-body{
		background-color: $light-color;
	}
}

.case-contenant .card-body:hover
{transform: scale(1);
	animation: pulse 2s;}



@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}