@import "./../../scss/mixin.scss";

.case-contenant{
	@include for-phone-only {    
		flex-direction: column;
		text-align: center;
	 }
	
}

.reassuranceCase{
    width: 25vh;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 10vh;
	@include for-phone-only {  
		width: 80%;
	}
}

.abonementCase{
    width: 33vh;
    margin-top: 5%;
    margin-bottom: 5%;
	@include for-phone-only {  
		width: 90%;
	}
}

.primary-color{
    color : #4AA4F6;
}

.card-body{
    line-height: 10vh;    
    p{
        line-height: 1.5;
    }
}
.card-body:hover
{transform: scale(1);
	animation: pulse 2s;}



@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}