.reassuranceCase{
    width: 25vh;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 10vh;
}

.abonementCase{
    width: 33vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

.primary-color{
    color : #4AA4F6;
}

.card-body{
    line-height: 10vh;
    p{line-height: 1.5;}
}