@import "./../../scss/base.scss";
@import "./../../scss/variables.scss";

$width:25%;

.progress-container{
   .progress {
    background-color: $secondary-color;
    width: 80%;
    height: 1vh;
    .danger{
        background-color: $problem-color-d;
    }
    .warning{
        background-color: $warning-color-d;
    }
    .success{
        background-color: $success-color-d;
    }
    } 
    .danger{
        color: $problem-color-d;
    }
    .warning{
        color: $warning-color-d;
    }
    .success{
        color: $success-color-d;
    }
    p{
        width: 20%;
    }
    display:flex;
    margin-top: 2.5%;
    margin-bottom: 2%;
}

.card{
    width: 100%;
    height: 32vh;
    background-color: $dark-color-d;
    border:none;
    text-align: left;
    .row{
        height: 100%;
        .col-md-4{
            height: 100%;
            img{
                height: 100%;
            }
        }
        .col-md-8{
            height: 100%;
        }
    }
}

.white-content{
    .progress-container{
        .progress {
            background-color: $middle-color;
            .danger{
                background-color: $problem-color;
            }
            .warning{
                background-color: $warning-color;
            }
            .success{
                background-color: $success-color;
            }
        }
            .danger{
                color: $problem-color-d;
            }
            .warning{
                color: $warning-color-d;
            }
            .success{
                color: $success-color-d;
            }
    }

    .card{
        background-color: $light-color;
    }
}