@import "./../../../scss/base.scss";
@import "./../../../scss/mixin.scss";


.navbar{
	background-color: $dark-color-d;
	.nav-link{
		color: $secondary-color;
	}
	.dark-logo{
		display: none;
	}
	.light-logo{
		display: block;
	}
	.phone-menu{
		display:none;
	}
	.nav-item{
		display: flex;
		flex-direction: column;
	}
	@include for-phone-only { 
		.navbar{
			width: 105%;
		}
		.navbar-brand{
			margin-left: 5%;
		}
		img{
			width: 50px;
		}
		.phone-menu{
			display:contents;
		}
		
	 }


	
}
.white-content{
	.navbar{
		background-color: $light-color;
	}
	.dark-logo{
		display: block;
	}
	.light-logo{
		display: none;
	}
}