@import "./../../scss/variables.scss";
.swal2-styled.swal2-confirm{
    background-color: $primary-color-d;
}
.btn:hover{
    background-color: $primary-color-d;
    color: $light-color-d;
}
.white-content{
    .swal2-styled.swal2-confirm{
        background-color: $primary-color;
    }
}

